.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Category{
  outline: none;
}
.FilterBlock{
  float: left;
  width: 14%;
}
.selectBlock{
  width: 100%;
}
.FindBlock{
  float: left;
  width: 50%;

}

.MainBlock{
  float: left;
  width: 100%;
  height: 750px;
  background-color: #282c34;
}
.imgCard{
  width: 100px;
  height: 200px;
}

.product-description {
  width: 100%; /* или указать конкретную ширину */
  max-height: calc(1.5em * 3); /* Ограничиваем высоту на 3 строки */
  overflow: hidden; /* Скрываем лишний текст */
  text-overflow: ellipsis; /* Добавляем многоточие */
  display: -webkit-box; /* Используем флексбокс для ограничения строк */
  -webkit-line-clamp: 3; /* Ограничиваем текст до 3 строк */
  -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию флексбокса */
}
.product-title {
  width: 100%; /* или указать конкретную ширину */
  max-height: calc(1.4em * 1); /* Ограничиваем высоту на 3 строки */
  overflow: hidden; /* Скрываем лишний текст */
  text-overflow: ellipsis; /* Добавляем многоточие */
  display: -webkit-box; /* Используем флексбокс для ограничения строк */
  -webkit-line-clamp: 3; /* Ограничиваем текст до 3 строк */
  -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию флексбокса */
}
.inmodalopen{
  width: 50%;
  height: 400px;
}
.addProductMainBlock{
  float: left;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addProductBlock{
  width: 40%;
  height: 500px;
  background-color: #282c34;
}
.backIcon:hover{
  color: red;
  cursor: pointer;
}